.noPrint, #flashAlert {display:none;}
.txtBold {font-weight:bold;font-size:12px;font-family:Arial, Helvetica, sans-serif;}
.global_content4 {text-align:left;font-size:12px!important;font-family:Arial, Helvetica, sans-serif;}
.global_content4 h2 {text-align:left;}
.global_content4 table tr td {font-size:10px;font-family:Arial, Helvetica, sans-serif;}
.ulOrder {text-align:left;padding-left:0px;}
.dlForm {display:block;position:relative;z-index:0;}
.dlForm .multiForm {margin-left:auto;margin-right:auto;width:90%;}
.dlForm fieldset {border-color:#CCCCCC!important;clear:both;}
.dlForm fieldset {border-width:0;display:block;}
.dlForm fieldset {border:1px solid #6ACA83;display:block;margin:15px auto;padding:0 0 15px;position:relative;}
.dlForm .multiForm fieldset {border-width:1px;}
.dlForm .multiForm {margin-left:auto;margin-right:auto;width:90%;}
.dlForm fieldset {border:1px solid #6ACA83;display:block;margin:15px auto;padding:0 0 15px;position:relative;border-color:#CCCCCC;}
.dlForm legend, .dlForm .legend {background-color:#FFFFFF;color:#999999;}
.dlForm dl {clear:both;display:block;float:none;margin:0;min-height:20px;padding:10px 0 0;position:relative;width:auto;z-index:0;}
.dlForm .multiForm fieldset dt {width:35%;}
.dlForm dt {clear:left;display:block;float:left;margin:0 10px 5px 0;width:25%;}dt {font-weight:bold;line-height:25px;}
.dlForm dt label, .dlForm dt .label {display:block;font-weight:normal;line-height:18px;padding-left:5px;padding-right:5px;text-align:right;}
.dlForm label sup {color:#CC0000;}
.dlForm .multiForm fieldset dd {width:60%;}
.dlForm dd {display:block;float:left;line-height:18px;margin:0 5px 0 0;}
.dlForm ul {margin:0;padding:0 0 0 30px;line-height:20px;}
.dlForm ul.fcol {list-style:none;margin:0;padding:0;display:inline;}
.dlForm ul.fcol li {display:inline;list-style:none;margin:0 0 0 14px;padding:0;}
.dlForm UL.fcol LI input, .dlForm UL.fcol LI select  {border:1px solid #ccc;}
.brfnone {border:0px none!important;}
.X50 {margin-left:71px;margin-right:71px;}
.Y20 {margin-bottom:20px;margin-top:20px;}
.pixbr {clear:both !important;float:none !important;}
h3 {font-size:16px;line-height:18px;}
.highlight p {margin:5px 0;}
.highlight {margin:10px;padding:5px;position:relative;border:1px dotted;}
.l {float:left;margin-right:10px;}
.r {float:right;margin-left:10px;}
.dlForm .inputText, .dlForm input[type="text"] {background:none repeat scroll 0 0 #FCFCFC;border:1px groove #CCCCCC;font-size:inherit;}
.dlForm select {background:none repeat scroll 0 0 #FCFCFC;border:1px groove #CCCCCC;font-size:inherit;max-width:305px;z-index:0;}
.msgBox {height:auto;margin:0;padding:0 0 0 61px;width:647px;clear:both;}
.topCorner {background:url("../images/topCorner.png") no-repeat scroll left top transparent;height:18px;margin:0;padding:0;width:647px;}
.msgBox ul {background:url("../images/middlecorner.png") repeat scroll left top transparent;list-style-type:none;margin:0;padding:0 0 0 0 !important;}
.msgBox ul li {background:url("../images/arrowB.gif") no-repeat scroll left 8px transparent;color:#FF0000;font:11px Arial,Helvetica,sans-serif;margin-left:20px;margin-top:0;padding-left:20px;padding-top:5px;text-align:left;text-transform:uppercase;width:590px;}
.btmCorner {background:url("../images/bottomcorner.png") no-repeat scroll left bottom transparent;height:18px;margin:0;padding:0;width:647px;}
.lblButton {float:left;height:22px;padding:0;position:relative;z-index:1;}
.button {background:url("../images/btnBg.png") no-repeat scroll left top transparent;border:0 none;color:#FFFFFF;cursor:pointer;float:left;font-size:11px;font-weight:bold;height:22px;margin:0;padding:2px 0 4px 8px;position:relative;}
.lblButtonRight {float:left;height:22px;overflow:hidden;position:relative;width:7px;}
.btnRtCorner {background:url("../images/btnBg.png") no-repeat scroll -343px 0 transparent;height:22px;position:absolute;right:0;top:0;width:7px;}
.wd90 {width:90%;margin:0px auto;}
.mgauto {margin:0px auto;width:600px;clear:both;text-align:center;padding:20px 0px;}
table.notblbrd, table.notblbrd tr td {border:0px none!important;}
.mg10Left {margin-left:10px; *margin-left:0px!important;}
.dlForm .error {color:red}
.dlForm .error_list {padding: 5px; margin: 0px 20px;color:red}
.clear {clear:both;}
.ps0 {_position:relative;_margin:0px 20%;}
#visa_application_terms_id_row{padding-left:9px;}
.top_subbarwrap1{display:none;}
.card_logo{display:none;}
.flRight{display:none;}
.highlight{display:none;}
.yellow{display:none;}
.footer_link{display:none;}
.page_header {clear:right;color:#CC9900;float:left;font-size:18px;padding:15px 0 0 5px;*padding:10px 0 0 5px;width:auto;clear:both!important;}
.footer_center{font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#000000;padding:0px;}
/*.print_table tr td{border:solid 1px #000000;}*/
.table_new{padding:0!important;margin:0!important;float:left!important;}
.global_tab_menuwrap{height:0px!important;}
.top_subbarwrap3 {display:none!important;padding:0!important;margin:0!important;}
.mg10{display:none!important;padding:0!important;margin:0!important;}
.toploginTxt{display:none!important;padding:0!important;margin:0!important;}
.global_header{height:0px!important;padding:0!important;margin:0!important;}
.top_part,.top_subbarwrap1{height:0px!important;padding:0!important;margin:0!important;}
.font_size_11{ font-size:11px!important; clear:both!important; font-family:Arial, Helvetica, sans-serif;}
.footer{display: none!important;}
.noprint    {display:none;}
.lblField_radio{font:normal 10px Arial, Helvetica, sans-serif;color:#555; font-size:10px;clear:both;}
/*.lblField_radio .align-right{margin-left:135px!important;}*/
.lblField .full-width{width:auto!important; margin-left:20px;}
/*.lblField .auto-width{width:300px; height:100px;}*/ /* for text area - */
.lblField .auto-height{height:50px;} /* for text area- Rejected/Accepted */
#pagebreak  { /*display:block;*/ page-break-after:always!important; height:250px; }
.label_name_new label	{font:10px normal Arial, Helvetica, sans-serif!important; color:#555555; padding-left:2px!important;}
.no_border_new{ border:none!important; background:none!important;}
.no_border_new tr td{border:none!important; background:none!important; font-weight:normal!important; color:#555555!important; padding:0!important; height:10px!important;}
.formContent .lblField input, .formContent .lblField {font:normal 12px Arial, Helvetica, sans-serif;color:#555;border:1px thin #000; width:154px!important;}
.formContent .lblField select{font:normal 12px Arial, Helvetica, sans-serif;color:#555;border:1px thin #eeeeee; width:162px!important; *width:154px;}
.printdate{ width:15px!important;}
.printyear{ width:27px!important;}
.top-padding{font-size: 10px!important; color: #FF0000;}
.page_heading_new{margin-top:0px!important; *margin-top:0px; font-size:12px!important;}
textarea{font:normal 9px Arial, Helvetica, sans-serif;color:#555;border:1px solid #ccc;}
/*.lblfield_new .lblField .printdate{ width:30px!important; *width:30px!important; margin-right:5px;}
.lblfield_new .lblField .printyear{ width:37px!important; *width:37px!important;}*/
.align-right{/* background:#CCCCCC!important;*/}
.custom_height{ *height:15px;}
input[type=radio] {vertical-align:middle;font-size:inherit;}
.print_note em{ display:none!important;}
.custom_height_25{ *height:30px;}
.top_nav_section, .content_wrapper_top, .content_wrapper_bottom, .header_bg_left, .header_bg_left, .header_bg, .page_title_inner, .tmz-spacer{ display:none;}
/*.inst_container1 ul li{ padding:0 0 0 50px!important; line-height:10px;}*/
/*CSS for Print POPUP*/
.confirmation-msg{width:600px; float:left!important;font-size:17px; color:#000;left:0;padding-left:5px;}
.parentDisable {background-color: #CCCCCC;color: #AAAAAA;display: block;height: 100%;left: 0;opacity: 0.98;position: fixed;top: 0;width: 100%;z-index: 99;}
.popWrapper {left: 0;position: absolute;top: 0;z-index: 999;}
table {background-color: #FFFFFF; border-collapse: collapse;border-right: 0px solid #CCCCCC;border-spacing: 0;border-top: 0px solid #CCCCCC;}
#printHidebuttonID{display:none;}
.footer{display: none!important;}
.noprint    {display:none;}
/*CSS for Print POPUP*/
/*CSS for Print APPLICATION.CSS*/
.container_bottombg, .warningArea, .btnArea, .calBtn, .text_hide, .top_subbarwrap1, .footer_wrapbg, .flRight, .alertBox {display:none;}
.mail_link{text-transform:lowercase;font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#000000;text-decoration:underline;}
.formBrd {border-right:1px solid #d0cece;}
.formBrd_left {border-left:1px solid #d0cece;}
.formH2 {border-bottom:1px solid #d0cece;float:left;width:800px;border-top:1px solid #d0cece;margin-top:2px;}
.formH2 h2 {float:left;width:335px;font:bold 10px Arial, Helvetica, sans-serif;color:#113452;padding:2px 0;margin:0;}
.redLbl {color:#F00;}
.formContent .lblField input, .formContent .lblField select {font:normal 10px Arial, Helvetica, sans-serif;color:#555;}
.pixbr_new{font-size:10px;}
.swg_logo{padding-top:10px;border:solid 10px #000!important;}
.input_btn {background: url(../images/btn.gif) repeat-x left top;height:31px;border:1px solid #3b6d92;margin:0;text-align:center;color:#fff;font:normal 10px Arial, Helvetica, sans-serif;padding:7px 5px; cursor:pointer;}
.inst_container1 ul{padding:0 0 0 0!important;margin:1px 0 0 0!important;line-height:8px!important;}
.inst_container1 ul li{padding:5px 15px 0 25px;margin:0 0 0 0;list-style-type:none;font-family:Arial, Helvetica, sans-serif;font-size:9px!important;color:#000000;
text-transform:uppercase; }
.radio_list{width:180px!important;list-style-type:none;padding:0px; margin:0px!important; float:left;}
.radio_list li{background-image:none!important;padding:0!important; margin:0!important; clear:both!important;}
.radio_list li input{background-image:none!important;width:15px!important;  padding:0!important; margin:0!important;}
.radio_list li label{padding:0!important; margin:0!important; font-size:8px!important;}
.inst_container1{width:700px;margin:0 auto;}
.formContent {float:left;width:335px!important;margin:5px 0px;}
.formContent .lblName {width:140px!important;font:normal 10px Arial, Helvetica, sans-serif;color:#555;float:left;margin:1px 0px; }
#width_dropbox select,  .formContent .lblField select {width:165px;}
.formContent .lblField input{width:160px; height:12px;}
.small_dropbox {width:40px!important;} /* for DOB fields*/
.error_msg{display:none!important;}
.pdLeft10 {padding-left:2px!important;}
.printleft{clear:both;}
.footer_wrapbg{display:none;}
.pagebreak{page-break-before:always;display:block;}
/*.calBtn{width:20px, !important;}*/
.text-small{font-size:10px;}
.input-height{height:7px !important;}
.font_size_11{ font-size:11px!important; clear:both!important;}
.div_height{ height:50px!important;}
.body_text{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#555555;float:left;}
.border_top{border-top:solid 1px #D0CECE;padding-top:10px;width:843px;}
.new_height{ margin-top:1000px!important;}
.global_header{height:25px!important;}
.top_part,.top_subbarwrap1{height:25px!important;}
.page_heading_new{clear:both;border: solid 0px #000000!important;/*float:left!important;*/
color: #000000!important;padding-top:93px; padding-left:15px; margin-bottom:15px;}
.clear_print{ clear:both!important; margin-top:15px;}
.page_heading{display:none!important;}
.page_heading_visa{color: #000000!important; float:left; clear:both!important; padding:15px 0 15px 0;}
.div_new_height{ height:1000px!important; *height:0px!important;}
.r_new{float:right;position:relative; height:30px;margin-top:-10px;}
.Y20_new {/*margin:0px!important;*/padding:0px!important;margin-top:20px!important;}/* for date and signature div at end of forms*/
.heading_containerbg{height:20px!important;font-size: 8px!important;}
.small-text{font-family: Arial,Helvetica,sans-serif;font-size: 8px!important; color: #000000;}
.notice-text{font-family: Arial,Helvetica,sans-serif;font-size: 9px!important; color: #000000;}
.inst_container1 ul li{font-size: 9px!important; }
.container_bottombg{height:0px!important;}
.border_top{padding:1px!important;}
.page_heading{padding:1px!important;font-size: 6px!important;}
.note1{font-size: 1px!important; color: #000000;}
.redLbl{display: none!important;}
.lblName sup{display: none!important;}
.confirmation-msg{width:600px; float:left!important;font-size:17px; color:#000;left:0;padding-left:5px;}
.top-padding {float:left; width:100%;}
.confirmation-msg1{display: none!important;}
.confirmation-msg{font-size: 11px!important;}
.last{font-size: 12px!important;}
.formContent .lblField input, .formContent .lblField select{border:1px solid #A3ABB8;}
.footer{display: none!important;}
.noprint    {display:none!important;}
/*CSS for Print APPLICATION.CSS*/
#form_new_heading{ font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:10px!important; font-weight:bold; border-top: solid 1px #ccc!important; border-bottom: solid 1px #ccc!important; padding-left:2px!important;}
#border_new_left{ border-left:solid 1px #ccc!important;}
.no_border_new tr td input{ height:12px!important; *height:14px!important; font-size:8px!important; border-color:#cccccc!important;}
.printtxt{ font-size:7px!important;}
.show_table{ border:solid 1px #cccccc; font-family:Arial, Helvetica, sans-serif; font-size:10px;}
.show_table tr td{ border:solid 1px #cccccc; font-family:Arial, Helvetica, sans-serif; font-size:10px; padding-left:5px;}
.border_top_new{ display:none!important;}
*input[disabled] {filter: alpha(opacity=70);}
.block p {margin:5px 0;}
.block {margin:10px;padding:5px;position:relative;border:1px dotted;}
