/*** GLOBAL PART ***
***************************/
html{ height:100%;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
html{ height:100%;}
}
* { margin:0px; border:0px; padding:0px; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:12px;}
body{padding:0; margin:0; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:12px; height:100%;}
.clearfix:after{content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0;}
.global_body_bg { width:100%; height:100%; background:#ffffff url("../images/global_body_bg.jpg") repeat-x top;}
.main_wrap { width:960px; margin:0 auto;}
.flRight {float:right; color:#F00; font-size:11px; padding:5px 10px 0 0;}
.leftFl {float:left;color:#F00;font-size:11px;}
.red {color:#F00;font-size:11px;}
 .drag-contentarea.red{background-color:transparent!important;}
.login_wrap{width:344px; position:absolute; top:0; right:0; z-index:300;}
.login_wrap2{ float:left; width:342px; background:url("../images/login_tog_bg_x.png") repeat-x top;}
.login_toggle{ float:right; width:314px; padding:10px 13px 0 13px; border-left:1px solid #1e3344; border-right:1px solid #1e3344; background:url("../images/login_tog_bg_x.png") repeat-x bottom;}
.login_tog_bgbtm { float:right; width:342px; height:12px;}
.login_iconwrap { clear:both; padding-right:3px; width:311px; padding-bottom:15px; overflow:hidden;}
.login_iconwrap p { float:right; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:20px; color:#FFFFFF; padding-right:10px;}
.login_iconwrap img { float:right; width:12px; height:18px; margin-top:3px;}
.login_inputwrap { clear:both; width:314px;}
.login_input { float:left; width:121px; height:18px; border-top:1px solid #7c7c7c; background:#FFFFFF; margin:1px 12px 0 0; overflow:hidden;}
.login_input input { float:left; width:109px; height:16px; padding:0 5px; background:none; border:1px solid #c3c3c3; color:#4b4b4b; font-size:11px;}
.login_yellow_btn { float:left; width:47px;  height:21px; background:url("../images/login_yellow_btn.jpg") no-repeat; cursor:pointer; color:#FFFFFF; font-size:9px;}
.login_checkwrap { clear:both; width:314px; padding-top:15px; overflow:hidden; position:relative;}
.login_checkwrap input {}
.login_checkwrapage_title_innerp label { margin-left:5px; color:#e4e4e4; font-size:11px;}
popHeightContainer
.top_blank { clear:both; height:55px;}
.top_login_btn { float:right; width:99px; height:24px; background:url("../images/top_login_bg.png") no-repeat;}
.top_login_btn img { float:left; margin:6px 0 0 10px;}
.top_login_btn a { float:left; padding:4px 0 0 6px; color:#838d99; font-size:10px; text-decoration:none;}
.header_bg {width:57px; background-image:url(../images/header_bg.gif); background-repeat:repeat-x; height:94px; float:left;}
.header_bg_left{ background-image:url(../images/header_left.gif); background-repeat:no-repeat; width:546px; height:94px; float:left;}
.header_bg_right{ background-image:url(../images/header_right.gif); background-repeat:no-repeat; width:357px; height:94px; float:right;}
.top_logo { float:right; width:147px; height:35px; margin:0px 0 0 15px; display:none;}
.swg_logo{float:left; width:121px; height:72px; padding:0 0 0 21px;}
.top_nav_section{ margin:1px 0 0 0; float:left;}
.top_nav_bg { float:left; background:url("../images/top_bar_bg.jpg") repeat-x top; height:42px; width:900px;}
.topnav_left { background:url("../images/top_bar_leftbg.jpg") no-repeat left top; float:left; height:42px; width:30px;}
.top_nav_right { height:42px; background:url("../images/top_bar_rightbg.jpg") no-repeat right top; float:right; width:30px;}
.verysign {height:34px;width:57px;display:block;float:left;background:url(../images/verysign.jpg) no-repeat left top;margin-left:150px;}
.t_menu { float:left; list-style:none; margin-right:10px;}
.t_menu li { float:left; height:34px;}
.t_menu li a { display:block; padding:11px 13px 10px 13px; text-decoration:none; color:#fff!important; font:bold 12px "Tahoma",Arial, Helvetica, sans-serif;}
.t_menu li a:hover { /*background:url("../images/t_menu_hover.jpg") repeat-x;*/ color:#FFFFFF!important; background-color:#00366b;}
.t_menu li.left_li a:hover { /*background:url("../images/t_menu_first_li_hover.jpg")*/ no-repeat; color:#FFFFFF; background-color:#00366b;}
.t_menu li.t_menu_selected a { /*background:url("../images/t_menu_active.jpg") repeat-x;*/ color:#FFFFFF; background-color:#00366b;}
.t_menu li.t_menu_selected.left_li a { /*background:url("../images/t_menu_first_li_active.jpg") no-repeat;*/ color:#FFFFFF; background-color:#00366b;}
.t_search_bg { float:left; width:140px; height:16px; background:url("../images/top_search_bg.jpg") no-repeat; padding:2px 6px; margin:11px 0 0 0; }
.t_search_bg input { float:left; width:130px; height:14px; padding:0 5px 2px 5px; border:none; background:none; color:#4b4b4b; font-size:11px;}
.t_search_btn { float:left; width:21px; height:21px; background:url("../images/top_search_btn.jpg") no-repeat; cursor:pointer; margin:9px 0 0 7px;}
.grey_line { clear:both; height:8px; font-size:8px; border-top:1px solid #E6EAEE; overflow:hidden; margin-top:1px;}
.grey_dotted { clear:both; height:8px; font-size:8px; border-top:1px dotted #bebebe; overflow:hidden;}
.grey_dotted2 { clear:both; height:8px; font-size:8px; border-top:1px dotted #bebebe; overflow:hidden;}
.CB { clear:both;}
.FL { float:left;}
.FR { float:right;}
.grey_btn { width:131px; height:18px; padding:2px 0 0 5px; margin:17px 0 0 14px; text-align:center; background:url("../images/grey_btn.jpg") no-repeat;}
.grey_btn a { color:#FFFFFF; font-size:11px; text-decoration:none;}
/*** HOME BODY ***
***************************/
.banner_container{ background-image:url(../images/banner_container_bg.gif); background-repeat:no-repeat; width:692px; height:285px; float:left;}
.banner_img { float:left; width:675px; height:269px; overflow:hidden; padding:5px 5px 5px 6px;}
#box {width:100%; height:269px; position:relative; overflow:hidden;}
#box div{ position:absolute; opacity:0; filter:alpha(opacity=0)}
#box div.shown{position:absolute; opacity:1; filter:alpha(opacity=100)}
#target{ width:22px; height:61px; position:absolute; z-index:100; right:0; top:23px;}
.banner_right { float:left; width:205px; overflow:hidden;}
.referenzen_topbg { clear:both; height:20px; padding:5px 10px 0 12px; background:url("../images/referenzen_top_bg.jpg") no-repeat right; color:#e2e5e6;font-weight:bold;}
.referenzen_topbg span { float:left; color:#e2e5e6;}
.referenzen_topbg a { float:right; background:url("../images/referenzen_right_arrow.jpg") no-repeat right; text-decoration:none; color:#e2e5e6; padding-right:17px;}
.banner_right .scroll { width:205px; list-style:none; float:right;}
.banner_right .scroll .scrollDiv { height:49px; padding:12px 0 0 10px; background:url("../images/referenzen_li_bg.jpg") no-repeat right; font-size:11px; color:#9fa6ac; cursor:pointer;}
.banner_right .scroll .selected { height:49px; padding:12px 0 0 10px; background:url("../images/referenzen_li_hover_bg.jpg") no-repeat right; font-size:11px; color:#fff; cursor:pointer;}
.banner_right .scroll .selected span {color:#fff;font-size:14px;}
.banner_right .scroll .refenzen_last { height:51px; background:url("../images/referenzen_li_bg.jpg") no-repeat right;padding:12px 0 0 10px;font-size:11px; cursor:pointer;color:#9fa6ac; }
.banner_right .scroll .select2 { height:34px; background:url("../images/2hover_bg.jpg") no-repeat right;padding:17px 0 0 12px;font-size:11px; cursor:pointer;color:#fff; }
.banner_right .scroll .select2 span {color:#fff;}
.banner_right .scroll .scrollDiv span, .banner_right .scroll .refenzen_last span { color:#00345a; font-size:14px;}
.loginbutton {/*background:url("../images/submitBg.gif") no-repeat scroll left top transparent;*/border:0 none;color:#FFFFFF!important;cursor:pointer;font:bold 11px "Tahoma",Arial,Helvetica,sans-serif;padding:6px 6px 6px 6px;text-align:center;text-decoration:none;vertical-align:middle;background-color:#0d68ad; overflow:visible; width:auto; border:solid 1px #043f6c;}
.content_left { float:left; width:653px; padding:0px 15px 0 13px; }
.left_head { clear:both; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:30px; color:#8e97a0;}
.left_head span { color:#224e74; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:30px;}
.body_txt1 { clear:both; color:#333333; line-height:20px; margin:15px 0 20px 0;text-align:justify;}
.body_txt1 a { text-decoration:none; background:url("../images/yellow_arrow.jpg") no-repeat left; padding-left:10px; color:#104165;}
.body_txt2 { clear:both; margin:8px 0 23px 0; color:#8e97a0; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:20px;}
.body_txt2 span { color:#224e74; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:20px;}
.home_grey_line_wrap { clear:both; height:16px; width:874px; padding:0 10px;}
.home_body_btmlink { width:874px; margin:0 auto; text-align:center; margin-bottom:20px;}
.home_body_btmlink a { color:#d4d8db; text-decoration:none; padding:0 5px;}
.home_btmtxt_17 { font-size:17px;}
.home_btmtxt_18 { font-size:18px;}
.home_btmtxt_19 { font-size:19px;}
.home_btmtxt_20 { font-size:20px;}
.home_btmtxt_23 { font-size:22px;}
.home_body_btmlink a:hover{color:#104165;}
.txt12 {font-size:12px;font-weight:bold;}
.content_right { clear:both; width:212px; padding-bottom:0px; border-left:1px solid #e6eaee; background:url("../images/content_right_shade.jpg") no-repeat left top;}
.content_right_txtwrap { color:#848e92; clear:both; padding:0 0 15px 15px; width:510px; background:url("../images/content_right_dotted2.jpg") no-repeat bottom;}
.content_right_txtwrap span{ color:#224e73; padding-top:20px;}
.content_right_txtwrap a { color:#848e92; font-size:11px; line-height:16px; text-decoration:none;}
.content_right_head { font-size:20px; color:#224e74; font-family:"Tahoma",Arial, Helvetica, sans-serif;padding-bottom:10px!important;}
.content_right_txt15 { clear:both; font-size:15px; color:#315a7d; padding:17px 0 5px 0;}
.content_right_txt11 { font-size:12px; color:#848e92; line-height:16px;padding-top:10px;}
.content_right_txt11 a{ font-size:11px; color:#848e92; line-height:16px; text-decoration:underline;}
.content_right_link { clear:both; width:180px; margin-top:5px;}
.content_right_link a { color:#104165; font-size:11px; text-decoration:none; background:url("../images/yellow_arrow.jpg") no-repeat right; padding:0 15px 0 0;}
.content_right_txt11 .inputTxt {border:1px solid #A3ABB8;width:140px;}
/*** GLOBAL BODY ***
***************************/
.global_body_bg { width:100%; height:100%; background:#ffffff url("../images/global_body_bg.jpg") repeat-x top;}
.global_top { clear:both; width:890px; margin-bottom:18px;}
.global_header_bg { width:890px; margin:0 auto; padding-top:0px;}
.global_sub_menuwrap { width:890px; clear:both; height:66px; background:#FFFFFF;}
.global_sub_menu { float:left; width:870px; height:65px; border-bottom:1px solid #ebebed;}
.page_header_bg { clear:right;color:#CC9900;float:left;font-size:30px;padding:10px 0 10px 0;width:auto;}
.global_sub_menu ul { float:left; list-style:none; padding:22px 0 0 0;}
.global_sub_menu ul li { float:left;}
.global_sub_menu ul li a { text-decoration:none; color:#cacaca; padding:13px 25px 0 25px; display:block;}
.global_sub_menu ul li a:hover { color:#3e5462; background:url("../images/yellow_down_arrow.jpg") no-repeat top center;}
.global_sub_menu ul li.sub_menu_selected a { color:#3e5462; background:url("../images/yellow_down_arrow.jpg") no-repeat top center;}
.global_tab_menuwrap { width:890px; clear:both; height:66px; background:#FFFFFF;/*_margin-left:5px;(comment this Style for solving bug no. 3126 by Nandan)*/}
.global_tab_menu { float:left; width:870px; height:33px; border-bottom:1px solid #ebebed;}
.nobrd, .nobrd tr td {border:0px none;}
.nobrd tr td table tr td {border-bottom:1px solid #d1d1d1;border-left:1px solid #d1d1d1;}
.global_tab_menu .brdBox {border-bottom:1px solid #ebebed;}
.page_tab_header_bg { float:left; color:#cacaca; font-size:18px; width:140px; padding:30px 0 0 10px;}
.global_tab_menu ul { float:left; list-style:none; padding:0px;}
.global_tab_menu ul li { float:left;text-align:center;}
.global_tab_menu ul li a { height:34px;width:65px;text-decoration:none; color:#65727b; padding:9px 12px 0 12px; display:block;background: url(../images/bg_tab_menu_off.png) no-repeat;}
.global_tab_menu ul li a:hover { color:#133c5f; background:url(../images/bg_tab_menu_off.png) no-repeat;}
.global_tab_menu ul li.tab_menu_selected a { color:#133c5f; background: url(../images/bg_tab_menu_on.png) no-repeat;}
.global_tab_menu ul li a.tabxl { height:34px;width:135px;text-decoration:none; color:#65727b; padding:9px 5px 0 2px; display:block;background: url(../images/bg_tab_menu_off_xl.png) no-repeat;}
.global_tab_menu ul li a.tabxl:hover { color:#133c5f; background:url(../images/bg_tab_menu_off_xl.png) no-repeat;}
.global_tab_menu ul li.tab_menu_selected a.tabxl { color:#133c5f; background: url(../images/bg_tab_menu_on_xl.png) no-repeat;}
.global_content { width:870px; clear:both; background:#FFFFFF; padding:0px 10px 5px 10px;}
.global_content_left_withimg_agentur { float:left; width:650px; padding:25px 10px 0 9px; border-right:1px solid #e6eaee; background:url("../images/agentur_img1.jpg") no-repeat right top;}
.global_content_left_withimg_leistungen { float:left; width:660px; padding:25px 0px 30px 9px; border-right:1px solid #e6eaee; background:url("../images/leistungen_img1.jpg") no-repeat right top;}
.global_content_left_withimg_kontakt { float:left; width:660px; padding:25px 0px 30px 9px; border-right:1px solid #e6eaee; background:url("../images/kontakt_img1.jpg") no-repeat right top;}
.global_content_left_withimg_loesungen { float:left; width:660px; padding:25px 0px 30px 9px; border-right:1px solid #e6eaee; background:url("../images/loesungen_img1.jpg") no-repeat right top;}
.global_content_left_withimg_download { float:left; width:660px; padding:25px 0px 30px 9px; border-right:1px solid #e6eaee; background:url("../images/download_img1.jpg") no-repeat right top;}
.global_content_right { float:left; width:200px; /*margin-top:30px;*/ padding:30px 0 80px 0; background:url("../images/content_right_shade.jpg") no-repeat left top;}
.global_left_head { clear:both; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:24px; color:#BD2C25; padding:20px 0 0px 5px;text-align:justify;}
.global_left_head span { color:#224e74; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:35px;padding-top:10px;}
.passPolicy ul {padding:0;margin:0;}
.passPolicy ul li{padding:0 0 0 0;margin:0 0 0 25px;list-style-type:disc;}
/*** FOOTER ***
***************************/
.footer { float:left; width:953px; background:url("../images/footer_bg.jpg") repeat-x top;  padding:0px; height:63px; margin:0 0 0 4px; background-color:#184f88;}
.footerNG { float:left; width:953px; background:url("../images/footer_bg.jpg") repeat-x top;  padding:0px; height:77px; margin:0 0 0 4px; background-color:#184f88;}
.footer a { text-decoration:none; color:#ffffff;}
.footerNG a { text-decoration:none; color:#ffffff;}
.call_on { float:left; width:225px; height:50px; padding:20px 0 0 15px; background:url("../images/footer_grey_line.jpg") no-repeat right;}
.call_on a { background:url("../images/call_on_img.jpg") no-repeat left; padding:5px 0 0 30px; font-size:21px; font-weight:bold;}
.footer_link {  float:right; padding:9px 10px 0 0; color:#d9dbdd; margin:0 10px 0 0; /*height:14px;*/}
.footer_link2 {  float:right; padding:0px 10px 0 0; color:#d9dbdd; height:14px;}
.footer_link a {  padding:0 5px; font-size:11px;}
.footer_link2 a {  padding:0 10px; font-size:11px;}
.copyright{ float:left; font-size:11px; color:#ffffff; padding:10px 0 0 20px;}
/**** Formular / FSt ***/
#form .input {padding: 6px;margin: 2px 0 5px 0;width: 210px;background-color: #ffffff;/* background-image:url(images/input-bg.jpg); */background-repeat:repeat-x;border: 1px solid #afafaf;font-size: 11px;font-family: Arial, Helvetica, Sans-serif;}
#form .checkbox input {margin: 0 4px 0 0;width: 8px;height: 8px;}
#form textarea {padding: 6px;margin: 2px 0 4px 0;width: 534px;height: 80px;background-color: #f8f8f8;background-repeat:repeat-x;border: 1px solid #afafaf;font-size: 11px;
font-family: Verdana, Arial, Helvetica, Sans-serif;}
#form .submit {padding: 1px;margin: 0 0 0 10px;}
#form label { padding: 4px 0 0 0; margin: 0 0 8px 0;width: 90px;display:block;float:left;color:#224e73;font-weight:bold;}
#form p {margin: 0 !important;padding: 0 !important;clear: left;}
#form span {padding: 5px 0 0 0;margin: 0 0 8px 0;display: block;width: 100px;float: left;/*  background-color: #555;*/}
#form label.checkbox {width: 225px;padding-left:90px;}
#inputFormTable {width:100%;}
td{font-size:smaller;}
tr.addr_tr {vertical-align:top;}
table {border-spacing:0px;border-collapse:collapse;border-top:1px solid #d1d1d1;border-right:1px solid #d1d1d1; background-color:#fff;}
table tr td {border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1; font:normal 12px Arial, Helvetica, sans-serif;padding:4px; border-right:solid 1px #d1d1d1;}
table th {border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;font:normal 12px Arial, Helvetica, sans-serif;padding:4px;text-align:left;/*background-color:#d1d1d1;*/}
#new_table {border-spacing:0px;border-collapse:collapse;border:1px solid #d1d1d1; background-color:#fff;}
#new_table tr td {border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1!important; font:normal 12px Arial, Helvetica, sans-serif;padding:4px;}
#new_table th {border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;font:normal 12px Arial, Helvetica, sans-serif;padding:4px;text-align:left;/*background-color:#d1d1d1;*/}
table {border-spacing:0px;border-collapse:collapse;border-top:1px solid #d1d1d1;border-right:1px solid #d1d1d1; background-color:#fff;}
table tbody tr td {border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1; font:normal 12px Arial, Helvetica, sans-serif;padding:4px;}
table tbody th {border-left:1px solid #d1d1d1;border-bottom:1px solid #d1d1d1;font:normal 12px Arial, Helvetica, sans-serif;padding:4px;text-align:left;/*background-color:#d1d1d1;*/}
.blbar {background: #209ed1 /*url(../images/blBg.gif) repeat-x left top*/;color:#fff;font-weight:bold;}
.txtBold {font-weight:bold;}
.txtRight {text-align:right;}
.bigTxt {font-size:18px;}
.blTxt {background-color:#f1f1f1;}
.txtBl {color:#00345A;}
table .inputTxt {border:1px solid #A3ABB8;width:190px;padding:2px;margin:2px 0px;color:#8a8672;}
.txt-input, .txt-area{padding:2px;margin:2px 0px;color:#8a8672;/*background: #fff url("../images/bg-input.gif") left top no-repeat;*/border:1px solid #a3abb8;}
.txt-select, select {padding:2px;margin:2px 0px;/*color:#555555;*/background-color:#ffffff; /*background: #fff url("../images/bg-input.gif") left top no-repeat;*/border:1px solid #A3ABB8;}
.txt-input:hover, .txt-area:hover, .inputTxt:hover {border:1px solid #333;}
.txt-input:focus, .txt-area:focus, .inputTxt:focus {border:1px solid #999; color:#555;}
table select, table textarea {border:1px solid #A3ABB8;}
ul.subpoint {line-height:180%;margin:5px 0 5px 5px;vertical-align:middle;}
ul.subpoint, ul.subpoint li {display:block;list-style:none outside none;margin:0;padding:0;}
ul.subpoint li {background:url("../images/li1.gif") no-repeat scroll 5px 7px transparent;padding-left:20px;}
ul.subpoint li {margin:0 0 3px;}
table a {color: #00366B!important; font-weight:bold;}
.pd4 {padding-top:5px;}
.pd4_new {padding-top:5px; border:solid 5px #d1d1d1;}
.approveInfo{ background:transparent url(../images/iconImg.gif) no-repeat scroll -194px -16px;height:16px;width:15px;display:inline-block;vertical-align:middle;margin:0px 0px 0px 3px;}
.lspace{ padding-left:24px;}
.thanksArea a {color:#11416A;text-decoration:underline;}
.thHeading  {background:url("../images/tick.gif") no-repeat scroll 0 top transparent; color:#224E74; font:bold 14px arial,verdana,helvetica,sans-serif; margin:0 auto; padding-left:25px;text-align:left; width:auto;}
.thanksArea p {padding-top:20px;}
.thanksArea h2{border:0 none;font-family:Arial,Helvetica,sans-serif;font-size:14px;margin:0;padding:0;}
.thanksArea h3{border:0 none;font-family:Arial,Helvetica,sans-serif;font-size:12px;margin:0;padding:0;}
.msgArea {background-color:#ffffcc; border:1px solid #ffc600; height:auto; margin:10px 1%; padding:10px;}
h2.msghd {background:url("../images/impIcon.gif") no-repeat scroll 0 top transparent;.{}color:#333333;
font:bold 14px arial,verdana,helvetica,sans-serif; margin:10px auto; padding-left:35px; text-align:left; width:auto; height:35px;}
.hlBox {padding:10px 0 12px;width:99%;float:left;}
.hlarrow {float:left; text-align:left; width:24px; padding:0 0 0 5px;}
.blhlTxt{color:#209ED1; float:left; line-height:14px; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-weight:bold;}
.blhlTxt span {color:#253A4D; line-height:20px;}
.hlBox a  {color:#333333; text-decoration:none;}
.comBox {padding:15px 0 10px 0; text-align:justify;}
.comBox p {color:#555555;text-align:justify;}
.comBox h2 {color:#209ED1;font:bold 12px "Tahoma",Arial, Helvetica, sans-serif; padding:10px 0px 10px; float:left; margin:0;}
.comBox h3 { background-color:#209ed1; color:#ffffff; padding:5px 0 5px 5px;}
.padding_15{ padding:8px!important;}
.grayTxt {color:#555!important;}
.grayTxt a {color:#224E74!important;text-decoration:underline;}
.ltgray {background-color:#fff;}
.top_subbarwrap1 {
background:url("../images/top_subbar_bg.jpg") repeat-x scroll center top transparent; margin-bottom:15px; width:890px;}
.top_subbarwrap2 {background:url("../images/top_subbar_leftbg.jpg") no-repeat scroll left top transparent; clear:both;}
.top_subbarwrap3 {background:url("../images/top_subbar_rightbg.jpg") no-repeat scroll right top transparent; clear:both; height:34px;}
.t_submenu {float:left; list-style:none outside none; margin-right:10px;}
.t_submenu li {float:left; height:39px;}
.t_submenu li a {color:#fff !important; display:block; font:bold 12px "Tahoma",Arial,Helvetica,sans-serif; padding:10px 12px; text-decoration:none;}
.t_submenu li a:hover {background:url("../images/t_submenu_hover.jpg") repeat-x scroll 0 0 transparent; color:#fff !important;}
.t_submenu li.subleft_li a:hover {background:url("../images/t_submenu_li_hover.jpg") no-repeat scroll 0 0 transparent!important; color:#FFFFFF;}
#nav li ul {position: absolute; left: -999em; height: auto; font-weight: normal; border: 1px solid #ffffff; border-bottom: none; margin: 0; font-size: 11px; z-index: 1000; width:188px;background-color:#209ED1;}
#nav li li {padding: 0; width: 188px; margin:0px; list-style-type:none;}
#nav li ul a {width: 163px; border-bottom: 1px solid #ffffff; padding;0px 4px!important;margin:0px!important;height:auto!important;}
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover1 ul ul, #nav li.sfhover1 ul ul ul {left: -999em;}
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover1 ul, #nav li li.sfhover1 ul, #nav li li li.sfhover1 ul {left: auto;}
#nav li ul.under a, #nav li ul a {color:#333!important; background-color: #209ED1!important;}
#nav li ul.under a:hover, #nav li ul a:hover {color: #fff!important; background: #209ED1!important;}
#nav li:hover a, #nav li.sfhover1 a, #nav li:hover a, #nav li.sfhover1 a, #nav li:hover a, #nav li.sfhover1 a{
color: #fff!important; background: #209ED1!important;}
.subverysign {height:49px;width:94px;display:block;float:right;background:url(../images/verysign2.gif) no-repeat left top;padding-right:10px;margin-top:10px;}
.clear {clear:both;}
.form_body_bg {background:url("../images/form_body_bg.jpg") repeat-x scroll center top #FFFFFF; width:100%;}
.body_txtp2 { clear:both; color:#555555; line-height:20px; margin:5px 0 5px 0;text-align:justify;}
.body_txtp { clear:both; color:#555555; line-height:20px; margin:8px 0 5px 0;text-align:justify;}
.body_txtp a { text-decoration:underline; background:url("../images/yellow_arrow.jpg") no-repeat left;color:#104165;}
.global_left_headP { clear:both; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:14px; color:#209ED1; padding:10px 0 0px 0px;text-align:justify; font-weight:bold;}
.body_txtp a:hover {text-decoration:none;}
ul.subpoint {line-height:180%; margin:5px 0 5px 5px; vertical-align:middle;}
ul.contentul {list-style:none outside none; margin:10px 20px 0 0px; padding:0 0 10px 10px; background-color:#eee;}
ul.contentul li {background:url("../images/li1.gif") no-repeat scroll 5px 14px transparent; padding-left:17px; padding-top:10px; display:block; padding-right:15px; text-align:justify; line-height:20px;}
ol.contentul {padding-left:15px;text-align:justify;}
ol.contentul li {line-height:20px;text-align:justify;margin-left:20px; color:#333333;}
ol.contentul li b {color:#209ED1;font-size:12px;padding-top:10px;}
ol.contentul li span.redTxt b, ol.contentul li span.redTxt ol li {color:#BD2C25;}
.inputTxtSelected {border:1px solid #BD2C25!important;}
.pd5px {padding-top:5px;}
.importantArea {background-color:#fff3d6;border:1px solid #443001;height:auto;margin:4px 0%;padding:0px 4px;}
.importantNotice { background:transparent url(../images/impIcon.png) no-repeat scroll 0 top;
color:#443001;font:bold 13px arial,verdana,helvetica,sans-serif;margin:4px auto;padding-left:25px;text-align:left;
width:auto;height:25px;padding-top:3px;}
/* CSS for various message boxes */
.infoBox, .successBox, .warningBox, .errorBox, .validationBox {font-size:14px; border: 1px solid; margin: 10px 0px; padding:15px 10px 15px 50px; background-repeat: no-repeat;background-position: 10px center;}
.infoBox {color: #00529B; background-color: #BDE5F8; background-image: url('../images/info.png');}
.infoBox1 {color:#535F69; font-size:12px; font-weight:bold; margin:5px 0; padding:5px;}
.successBox {color: #4F8A10; background-color: #f6f9f1; background-image:url('../images/success.png'); border-color:#e3e8d9;}
.warningBox {color: #9F6000; background-color: #FEEFB3; background-image: url('../images/warning.png');}
.errorBox {color: #D8000C; background-color: #f1eeee; background-image: url('../images/error.png'); border:solid 1px #ccc;}
.toploginTxt {color:#ffffff;font:12px "Tahoma",Arial,Helvetica,sans-serif;padding-right:8px;padding-top:10px;text-align:right; clear:both; float:right;}
.toploginTxt a {color:#ffffff; font-weight:bold;}
.pd10 {padding-top:9px;clear:both;}
.pdLeft10 {/*padding-left:10px;*/}
.global_left_headP em {font-style:italic;font-family:"Times New Roman", Times, serif;letter-spacing:2px;font-size:28px;font-weight:bold;}
em {font-style:italic;font-family:"Times New Roman", Times, serif;letter-spacing:1px;font-size:13px;}
.body_txtp em {font-style:italic;font-family:"Times New Roman", Times, serif;letter-spacing:1px;font-size:18px;font-weight:bold;}
.comBox em {font-style:italic;font-family:"Times New Roman", Times, serif;letter-spacing:1px;font-size:18px;font-weight:bold;}
.comBox h2 a em {font-style:italic;font-family:"Times New Roman", Times, serif;letter-spacing:1px;font-size:19px;font-weight:bold;}
.leistungen_left_txt21 em {font-size:26px;font-family:"Times New Roman", Times, serif;font-weight:bold;letter-spacing:2px;font-weight:bold;}
.home_bx_btm a {color:#11416A;text-decoration:none;}
.home_bx_btm a:hover {text-decoration:underline;}
.flLeft {float:left;border-right:1px solid #d1d1d1;padding-right:85px;}
.wd400 {width:600px;margin:0px auto;clear:both;}
.wd400_new {width:600px; clear:both; padding:15px 0 0 0;}
.pd100 {padding-top:40px;padding-right:60px;}
.error_list {list-style-type:none;}
.error_list li {list-style-type:none;color:#F00;font:normal 11px Arial, Helvetica, sans-serif;}
.pd15 {padding-top:15px;}
* html .travlerBlock {width:662px;height:176px;margin:15px 0 0 3px;padding:0 10px 0 2px;float:left;background:url(../images/travelersImg.png) no-repeat left top;}
.contactHome a {font:normal 12px Arial, Helvetica, sans-serif;color:#829ab0;text-decoration:underline;}
.contactHome a:hover {text-decoration:none;}
.travelerTxt em {font-weight:bold;}
* html .travelerTxt {float:right;width:326px;display:block;font:normal 12px Arial, Helvetica, sans-serif;color:#11416a;text-align:justify;margin:10px 6px 0px 0px;}
.curveBlock {background-image:url(../images/curveblock_bg.jpg);background-repeat:no-repeat; height:210px;width:302px;margin-top:10px;padding:10px;float:right;}
.curveBlock legend {font-size:16px;color:#224E74;background:url(../images/login.png) no-repeat left top;margin-top:37px;
padding:15px 5px 7px 53px;font-weight:bold; *margin-top:-5px; *margin-bottom:10px; *margin-left:-5px;border-bottom:1px dotted #d1d1d1;width:220px;}
.curveBlock legend em {font-size:23px;}
.curveBlock a {padding:0px;margin:0px;color:#224E74;text-decoration:underline;}
.curveBlock a:hover {text-decoration:none;}
.curveBlock a img {padding:0px 5px 0px 0px;}
.loginBlock legend {font-size:11.5px;color:#224E74;background:url(../images/login.png) no-repeat left top;padding:15px 5px 10px 53px;font-weight:bold;border-bottom:1px dotted #d1d1d1; *margin-left:-15px;}
.loginBlock legend em {font-size:17px;}
.loginBlock a {padding:0px;margin:0px;color:#224E74;text-decoration:underline;}
.loginBlock a:hover {text-decoration:none;}
.loginBlock a img {padding:20px 10px 0 0;}
.brdBox {text-align:justify; padding:0 0 0 7px;}
.alertBox {background-color:#e3f2bf;border:1px solid #cbe098;color:#5b8102;margin:5px auto;clear:both;padding:4px;text-align:center;font-size:12px;font-weight:bold}
/* Add for acivate and deactivate image*/
.deactiveInfo{background:transparent url(../images/iconImg.gif) no-repeat scroll -158px 0px;height:16px;width:15px;display:inline-block;vertical-align:middle;margin:0px 0px 0px 3px;}
.activeInfo{background:transparent url(../images/iconImg.gif) no-repeat scroll -194px 0px;height:16px;width:15px;display:inline-block;vertical-align:middle;margin:0px 0px 0px 3px;}
.button_new{background-image:url('../images/new_btn.gif');background-repeat:no-repeat;width:79px;height:22px;background-color:transparent;border:none;cursor:pointer;color:#ffffff;font-family:"Tahoma",Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;}
p{text-align:justify;}
.downloadInfo {background:transparent url(../images/iconImg.gif) no-repeat scroll -212px -16px;display:inline-block;height:16px;margin:0 0 0 3px;vertical-align:middle;width:15px;}
.innerTable_content { width:100%;}
#doc4 {background-color:#FFFFFF;}
#doc4 {width:74.923em;}
#doc, #doc2, #doc3, #doc4, .yui-t1, .yui-t2, .yui-t3, .yui-t4, .yui-t5, .yui-t6, .yui-t7 {margin:auto;text-align:left;}
#bd {background-color:#FFFFFF;background-image:url(../images/content_background.png);background-repeat:repeat-x;}
#content.singleColumn {padding:50px 126px;}
#yui-main .yui-b {position:static;}.form1 {-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;background-color:#d1d1d1 !important;margin:30px auto auto;width:520px !important;}
.formGrid h2 {-x-system-font:none;background:transparent url(../images/login.png) no-repeat scroll left top;color:#209ED1;font-family:arial,helvetica,clean,sans-serif;font-size:18px;font-size-adjust:none;font-stretch:normal;font-style:normal;font-variant:normal;font-weight:bold;height:50px;line-height:normal;margin:0 0 0 48px;padding:15px 0 0 50px;border-bottom:solid 1px #ffffff;}
.form1 table {border-spacing:0px;border-collapse:collapse;border-top:none;border-left:none;border-right:none;background-color:#eee;}
.form1 table tr td {border-left:1px solid #d1d1d1;border-bottom:none;border-left:none;border-right:none;font:normal 12px Arial, Helvetica, sans-serif;padding:4px;}
.form1 table th {border-left:1px solid #d1d1d1;border-bottom:none;border-left:none;font:normal 12px Arial, Helvetica, sans-serif;padding:4px;text-align:right;background-color:#d1d1d1;}
#vbvContactDiv {display: none;color: #FFF;font-size: 10px;padding: 10px;background-color: #0B9DBF;background-image: url('');height: 40px;width:550px;}
#vbvBgDiv p {display: none;}
#vbvBgDiv {background-image: url(../images/vbv-bg.png);padding-left:158px;/*height:170px;*/margin-top:-3px;}
#addVbVDiv{width: 320px; padding-top: 0px;  height: 14px; float: left;}
#contVbVDiv{padding-top: 0px;  height: 14px; float: right;}
iframe {border:0 none;}
#notice {font-size:12px;margin:auto;text-align:center;border:1px solid #BED7E4;width:99%;padding:3px;}
.global_content3 input{/*border:solid 1px #A3ABB8;*/}
.username_input{border:solid 1px #cecaca;;}
.wd300, .wd300 table.form1 {width:400px!important;}
.ht0 {height:40px!important;margin:0 0 0 0px!important;}
.mg0 {margin-top:0px;}
/*.paymentbutton {background:url("../images/paymentbg.gif") no-repeat scroll left top transparent;border:0 none;color:#FFFFFF;cursor:pointer;font:bold 11px Arial,Helvetica,sans-serif;height:20px;padding:0 0 4px 0px;text-align:center;text-decoration:none;vertical-align:middle;width:125px;}*/
.certificatebutton {background:url("../images/paymentbg.gif") no-repeat scroll left top transparent;border:0 none;color:#FFFFFF;cursor:pointer;font:bold 11px Arial,Helvetica,sans-serif;height:20px;padding:0 0 4px 0px;text-align:center;text-decoration:none;vertical-align:middle;width:125px;}
/*************** CSS FOR VBV  **************************************/
.ForValuCard {display:none;}
.l {float:left;margin-top:20px;margin-left:5px;}
.r {float:right;margin-top:20px;margin-right:5px;}
.r table tr td {border:0px none!important;}
.blbar span, .blbar a {color:#fff!important;vertical-align:top;}
.blbar span img {padding-bottom:0px;vertical-align:top;}
#result_div {width:100%!important;}
.wrap870 {padding:7px 10px 5px;width:870px;background-color:#fff;}
.pdtop20 {padding-top:20px!important;}
.hd2 {background:url("../images/success.gif") no-repeat scroll left top transparent;padding-left:25px; height:16px;}
.hd1 {padding-left:25px;font:bold 15px Arial, Helvetica, sans-serif;margin:20px 0px 10px;}
.ulOrder {padding:5px 5px 5px 40px}
.trRow {background-color:#008700;color:#fff;}
.flR {float:right;}
.flR span {color:#fff!important;cursor:pointer;}
.brdnone {border-left:0px none!important;}
.historyAlign {font-weight:bold;padding:12px 5px 5px 4px; float:left;}
.historyAlignBig {font-weight:bold;padding:5px 5px 5px 100px;font-size:16px;}
.add_document{color:#209ED1;text-decoration:underline;}
.knowmore_banner{float:left;padding:10px 0 0 6px;}
.errorbox{padding:10px 0 0 25px;font-size:11px!important;}
.errorbox ul{padding:0;margin:0;font-size:11px!important;}
.errorbox li{padding:0 0 0 0;margin:0;list-style-type:disc;font-size:11px!important;}
.errorbox li a{color:#196ec2;}
.patchImg {background-image:url("../images/window-bgn.png");height:88px;position:absolute;right:194px;bottom:106px;width:552px; *right:192px;*bottom:86px;*width:572px; _width:571px; _right:169px; border-top:1px solid #d1d1d1;}
iframe div#footer {display:none;}
.dlForm textarea { border:1px groove #d1d1d1;background:#fcfcfc;/*margin-bottom:10px;_margin-bottom:0px;*/;font-size:inherit;font-family:inherit;}
.dlForm .inputText, .dlForm input[type=text]{border:1px groove #d1d1d1; background:#fcfcfc;font-size:inherit;}
.dlForm input[type=password], .dlForm .inputPassword{border:1px groove #A3ABB8;background:#fcfcfc;font-size:inherit;}
.dlForm input[type=radio], .dlForm .inputRadio{border:0px;vertical-align:middle;margin-bottom:2px;font-size:inherit;}
.dlForm input[type=checkbox], .dlForm .inputCheckbox{border: 0px solid #333;font-size:inherit;}
.dlForm input[type=file], .dlForm .inputFile{border:1px groove #d1d1d1;background:#fcfcfc;font-size:inherit;}
.dlForm select {border:1px groove #d1d1d1;background:#fcfcfc;max-width:305px;z-index:0;font-size:inherit;}
/* resetting browser defaults */
.dlForm .inputPassword, .dlForm input[type=password] {*font-family:sans-serif;font-size:inherit;}
/*-- deselecting form elements --*/
.dlForm input[readonly], .dlForm input[disabled] {background:#bfbdbd;border-color:#d1d1d1;}
/* standard styling for page elements */
.extra-small { width:50px;}
select.extra-small {width:55px;}
.small {width:120px;}
select.small {width:125px;}
.medium {width:300px;}
select.medium {width:305px;}
.large {width:420px;}
select.large {width:425px;}
.dlForm .hide , .dlForm dl.hide , .dlForm dl.hide dt ,  .dlForm dl.hide dd, .dlForm .hide ul.fcol {display:none;visibility:hidden;}
.dlForm .error {color:#FFCC33}
/*
.dlForm .error_list {color:#FFCC33;position:absolute;display:inline;background: url('../images/error_img.png') no-repeat top left; position relative; width:16px;height:16px;margin-left:5px;border:1px solid red}
.dlForm .error_list a{display:none;position:relative;width:200px; border:1px solid #d1d1d1;background:#fefefe;padding:2px;top:-12px;left:18px;}
.dlForm .error_list:hover a {display:block;}
*/
/* Frame work Extension (Symfony) */
.radio_list label {display:inline;}
.radio_list { list-style:none;margin:0px;padding:0px;}
.radio_list { list-style:none;margin:0px;padding:0px;display:inline;}
.txn{padding-left:10px;}
.txn .radio_list { display:table-row-group;list-style:none;margin-left:230px;padding:0px;}
.popHeightContainer {background:none repeat scroll 0 0 #FFFFFF;border:0px solid #0D68AD;display:block;/*left:309px; */padding:5px;position:absolute;/*top:-50px; */width:420px;z-index:9999;}
.popHeightContainer .popContent {background-color:#F8F8F8;color:#333333;height:160px;position:relative;width:420px;z-index:9999;}
.dlForm .fcol .radio_list{display:block;padding:0px;margin:0px;min-height:1px;}
.dlForm .fcol .radio_list li{display:block;height:20px;}
.dlForm .fcol .radio_list li input{margin:0px;padding:0px;display:block;float:left;}
.dlForm .fcol .checkbox_list{display:block;padding:0px;margin:0px;min-height:1px;}
.dlForm .fcol .checkbox_list li{display:block;height:20px;}
.dlForm .fcol .checkbox_list li input{margin:0px;padding:0px;display:block;float:left;}
.leftlogo {float:right;margin-top:20px;margin-right:5px; display:none;}
.mg10 {margin-bottom:5px;}
.pdleft { padding-left:43px; }
.pdleftsmall { padding-left:18px; }
.pd00 {padding-right:60px;}
.ft14 {font-size:14px;font-weight:bold;padding-bottom:10px;}
/*css modified dated 03/11/10*/
input.calBtn, button.calBtn {
background:url("../images/ico_cal.gif") no-repeat scroll 0 0 transparent!important ;border:0 none!important;cursor:pointer;height:18px;margin-left:2px;margin-top:2px;padding:10px;position:absolute;_position:fixed;width:20px; border:none!important;}
#passport_application_date_of_birth_button{ border:none!important;}
DIV.calendar {_position:absolute!important;_top:670px!important;}
.button1 {/*background:url("../images/submitBg.gif") no-repeat scroll left top transparent;*/border:0 none;color:#FFFFFF!important;cursor:pointer;font:bold 11px "Tahoma",Arial,Helvetica,sans-serif;padding:4px 4px 4px 4px;text-align:center;text-decoration:none;vertical-align:middle;background-color:#0d68ad; overflow:visible; width:auto;}
.pdleft15 {padding-left:15px;}
#visa_application_terms_id_row dt, #visa_application_terms_id_row dt label {width:auto!important;}
#understand_txt_node {padding:0px 10px;}
.popContent input {border:1px solid #d1d1d1;}
.highlight.yellow {background-color:#FDF8C3;border-color:#CC9933;color:#996600;/*margin-left:43px;margin-right:45px;*/}
.highlight.yellow ul{margin-left:29px;}
.card_logo {margin: 0px 5px 0px 15px; width:125px; float: right; height: 51px}
.redBigMessage{color:#F00;font-size:14px;text-align:center;font-weight:bold;padding:10px 0 10px 0;}
.redMediumMessage{color:#F00;font-size:13px;text-align:center;font-weight:bold;padding:5px 0 5px 0;}
.dataTable{font-size:10px;} /*added for Search Order No. page 29th Nov Rupesh */
/*.makeLink { cursor:pointer; color:#209ED1; font-size:12px;font-weight:bold; text-decoration:underline;}*/
.adminInfo{
background:transparent url(../images/impIcon.gif) no-repeat scroll -158px 0px;height:16px;width:15px;display:inline-block;vertical-align:middle;margin:0px 0px 0px 3px;}
.green_link{font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:20px; color:#EAD8D8!important;text-decoration:none;font-size:12px;}
.green_link:hover{font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:20px; color:#B8A6A6;font-size:12px;}
#payment_form div iframe{_width:103.5%!important;}
.border_none{
border-left:0px !important;}
.card_details{border:none!important;}
.card_details tr td{border:none!important;}
.border_table tr td{border:solid 1px #d1d1d1!important;}
.label_name{font-size:11px!important;font-weight:bold!important;width:35%;}
.margin-five{position:relative; right:5px;}
.page_subheader_bg { clear:right;color:#CC9900;font-size:30px;padding:10px 0 10px 0;width:auto;text-align:center;}
.prominent{float:left;border:dotted 1px #c5c3c3;padding:0 5px 0 5px;background-color:#e5e5e5;font-weight:bold;}
.prominent_listing{padding:10px 0 0 18px;*padding:10px 0 0 25px;}
.prominent_listing li{line-height:25px;}
.dis_allocate{padding:0 0 5px 0;}
#visa_application_present_nationality_id{ visibility:visible!important;}
.payment_info_wrapper{margin:10px auto; width:235px;}
.continue_payment_btn{margin-left:5px; display:inline; float:left;}
.payment_info_area{/*background-color:#f3efef;border:1px solid #d1d1d1;*/height:auto;line-height:1.4em;/*margin:0px 1%;*/padding:5px;width:99%;/*height:200px;*/}
.payment_info_area ol li{ line-height:25px;}
#spantxn ul li{float:left; padding:0px 10px;}
#spantxn ul li input{vertical-align:text-top;}
table.CommentNew, table.CommentNew td, table.CommentNew table  { border:None !Important;}
.Sap  {margin:15px 5px; height:10px;background:url(../images/sap2.gif) no-repeat 50% 50%;}
#show_error span{display:block;border-color:#cc0000;color:#cc0000;background: #f0f0f0 url('../images/flash_message_error.png') no-repeat 5px 5px;padding-left:23px;padding-right:5px;}
.error_list span{border:1px dotted #ff0000;padding:3px 10px;line-height:18px; display:block; min-height:20px;text-align:left;}
/* blue bg div for welcome page / dashboard */
.tmz-grid-div{background:#e0f1fd; border:#b7d6ec solid 1px; width:917px; float:left;}
.tmz-text-uppercase{text-transform:uppercase;}
.tmz-info-inside li{margin-left: 100px;}
.tmz-info-inside p{text-align:left; margin:10px 0 0 0;}
.highlight-red{color:#ff0000;}
.tmz-strong	{font-weight:bold;}
.tmz-link{color:#0d4073; text-decoration:underline;}
.tmz-spacer{padding-top:15px;}
.tmz-tab-heading{color:#ffffff; font-weight:bold; margin-bottom:0 0 5px 0;background-color: #209ED1;padding:5px 0 5px 5px;}
.tmz-clear{clear:both;}
.tmz-tab{border:#d1d4d9 solid 1px;}
.tmz-tab th	{background:#f0f6ff; font-weight:bold; text-align:center;}
.tmz-tab-highlight{background:#f0f2f6;}
.noscreen{display:none;}
.passport_hide{display:none;}
.pagebreak {display:none;}
.errorBullet{background-color:#f5f5f5; color:#ff0000;}
.tmz-error-container{width:100%; margin:10px auto;}
.tmz-error-heading{background:#ff0000; padding:2px; font:bold 13px Arial, Helvetica, sans-serif; color:#fff; border:#c4c7bf solid 1px;}
.tmz-error-box{border:#e3e0e0 solid 1px; background:#fff url(../images/tmz-error-bg.png) repeat-x;}
.tmz-error-steps{border:#d4d4d3 solid 1px;border-top:0px;background:#fff url(../images/tmz-error-bg.png) repeat-x; margin:10px; }
.tmz-error-step-heading{background:#e4e6e1; border-top:#c4c7bf solid 1px;border-bottom:#c4c7bf solid 1px; padding:4px; font:12px Arial, Helvetica, sans-serif;margin-bottom:4px; }
.tmz-step-heading{color:#124d7c; font:bold 13px Arial, Helvetica, sans-serif;}
.tmz-error-step-info{padding:0px; }
.tmz-error-step-info ul{margin:3px;*margin-left:45px;}
.tmz-error-step-info li{color:#ff0000;}
.tmz-tab-scroll{width:840px; margin-left:5px;}
.tmz-tab-scroll tr td, .tmz-tab-scroll th td {padding:4px!important;}
.tmz-tab-scroll th{background:#f0f6ff; font-weight:bold; text-align:center!important;}
.label_name_new label{color:#555555; padding-left:2px!important;}
.no_border tr td{border:none!important; background:none!important; font-weight:normal!important; color:#555555!important; padding:0!important;}
.top-padding{font-size: 12px; color: #FF0000;}
.hand{cursor:pointer;}
a{ outline:none;}
.content_wrapper{ width:960px; float:left; margin:14px 0 15px 0;}
.content_wrapper_top{ background-image:url(../images/content_top_bg.gif); background-repeat:no-repeat; width:960px; height:24px; float:left;}
.content_wrapper_bottom{ background-image:url(../images/content_bottom_bg.gif); background-repeat:no-repeat; width:960px; height:24px; float:left;}
.content_wrapper_bg{background-image:url(../images/content_wrapper_bg.gif); background-repeat:repeat-y; width:960px; float:left; min-height:250px; height:auto!important;}
.content_container{ width:920px; float:left; padding:0 0 0 21px;}
.login_new_section{ width:224px; float:right; background-image:url(../images/login_new_bg.gif); background-repeat:no-repeat; width:224px; height:285px;}
.login_heading{ background-image:url(../images/login_heading_bg.gif); background-repeat:no-repeat; width:207px; height:46px; margin:7px 0 15px 6px; float:left; _display:inline;}
.login_head_text{ font-size:12px; font-weight:bold; color:#ffffff; padding:9px 0 0 11px; float:left;}
.login_info{width:90%; margin:0px auto 0px 10px; font-size:11px; color:#555555; line-height:18px; text-align:center; padding:15px 0 0 0; display:inline-block;}
.page_title{ width:917px; padding:11px 0 0 0; float:left; _margin:0 0 0 19px; _display:inline;}
.page_title_inner{ width:917px; float:left;}
.page_title_left{ background-image:url(../images/page_title_left.gif); background-repeat:no-repeat; width:18px; height:67px; float:left;}
.page_title_right{ background-image:url(../images/page_title_right.gif); background-repeat:no-repeat; width:18px; height:67px; float:right;}
.page_title_bg{ background-image:url(../images/page_title_bg.gif); repeat-x; height:67px; float:left; width:881px;}
.page_title_text{ font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:18px; font-weight:bold; color:#ffffff; padding:15px 0 0 0;}
.welcome_left{ float:left; width:580px; margin:15px 0 0 17px;}
.countries_fees{ font-weight:bold; color:#555555; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:12px; margin:0 0 15px 0;}
.countries_fees a{color:#00366b; font-weight:bold;}
.queries_refund{font-weight:normal; color:#555555; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:12px; margin:7px 0 15px 0;}
.queries_refund a{color:#00366b; font-weight:bold;}
.img_mail_phone{ float:left; padding:0 13px 0 0;}
.welcome_info{ padding:10px 0 0 0; float:left;}
.welcome_info_queries{ padding:5px 0 0 0; float:left;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.welcome_info_queries {width:167px;font:normal 12px Arial, Helvetica, sans-serif;color:#555;float:inherit;margin:3px 0px;}
}
.travel_img{ float:right; margin:10px 0 0 0;}
.inside_banner{ padding:15px 0 0 4px; float:left;}
.answers{ color:#555555; font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:12px; padding:0 0 0 30px; margin:0;}
.normalbutton {/*background:url("../images/submitBg.gif") no-repeat scroll left top transparent;*/border:0 none;color:#FFFFFF!important;cursor:pointer;font:bold 11px "Tahoma",Arial,Helvetica,sans-serif;padding:6px 6px 6px 6px;text-align:center;text-decoration:none;vertical-align:middle;background-color:#0d68ad; overflow:visible; width:auto; border:solid 1px #043f6c;}
.no_border{ border-bottom:none!important; padding-bottom:0px;}
.table_no_border{ border:none;}
.table_no_border tr td{ border:none;}
.div_box_bg{ background-image:url(../images/div_box_bg.gif); background-repeat:repeat-x; height:124px; background-color:#e1e4e7; float:left; width:917px; margin:16px 0 0 0;}
.info{ float:left; width:32px; padding:15px 10px 0 10px;}
.pending_app{ float:left; padding:7px 0 0 0;}
.cart_pic{ float:left; width:24px;}
.cart_info{ float:left; padding:6px 0 0 0;}
.cart_info_container{ width:435px; float:left; margin:7px 0 0 15px;}
.div_box_heading{ padding:0 0 0 12px; font-size:14px; font-weight:bold; color:#209ED1;}
.app_info_container{ width:459px; float:right; margin:7px 0 0 0px;}
.steps_nis_app li{ list-style-type:none; padding:0; margin:15px 0 0 12px; background-image:url(../images/arrow_step.png); background-repeat:no-repeat; padding:0 0 0 20px;}
.separator{ border-left:solid 1px #ffffff; height:109px; float:left; margin:5px 0 0 0;}
.dshbrd_table{}
.float_left{ float:left;}
.float_right{ float:right; padding:0 5px 0 0;}
.dsbrd_listing{ border:solid 1px #d1d1d1;}
.border_right{ border-right:solid 1px #d1d1d1!important;}
.border_top{ border-top:solid 1px #d1d1d1!important;}
.border_top_new{ border-top:solid 1px #d1d1d1!important; width:917px; padding:0 0 5px 0;}
.listing_scroll{overflow-x!important:hidden;overflow-y:auto!important;height:113px!important; margin:0px!important;}
.padding_margin_zero{margin:0px!important; padding-top:0px!important; padding-bottom:0px!important;}
.grey_bg_table{ background-color:#d1d1d1;}
.dsbrd_listing_headings{ background-color:#f2f2f2!important;}
.comBox ol li{ margin:0 0 0 25px; padding:0; line-height:20px;}
.bluelink {color: #00366B!important;font-weight: bold!important; text-decoration:underline!important; cursor:pointer;}
.phone_small_box{width:38px; border:1px solid #A3ABB8; padding:2px;}
.dhtmlwindow{position: absolute;border: 5px solid #165087;visibility: hidden;background-color: white;}
.drag-handle{ /*CSS for Drag Handle*/padding: 1px;text-indent: 3px;font: bold 14px Arial;background-color: #333333;color: white;overflow: hidden;width: auto;filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);-moz-opacity: 1;opacity: 1;}
.drag-handle .drag-controls{ /*CSS for controls (min, close etc) within Drag Handle*/position: absolute;right: 1px;top: 2px;}
* html .drag-handle{ /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/width: 100%;}
.drag-contentarea{ /*CSS for Content Display Area div*/background-color: white;color: black;height: 150px;padding: 2px;overflow: auto;}
.drag-statusarea{ /*CSS for Status Bar div (includes resizearea)*/border-top: 1px solid gray;background-color: #F8F8F8;height: 13px; /*height of resize image*/}
.drag-resizearea{ /*CSS for Resize Area itself*/float: right;width: 13px; /*width of resize image*/height: 13px; /*height of resize image*/cursor: nw-resize;font-size: 0;}
.drag-handle{ /*Overwrite default drag handle bar background color with below*/background-color: #165087;}
#interVeil{ /*CSS for veil that covers entire page while modal window is visible*/position: absolute;background: black; /* url(../images/blackdot.gif);*/
width: 10px;left: 0;top: 0;z-index: 100;visibility: hidden;height:800px;filter:progid:DXImageTransform.Microsoft.alpha(opacity=80);opacity: 0.8;}
#password_strength_bar{float: left;}
#password_strength_bar div{width: 10px;height: 5px;border: 1px solid #AAAAAA;float: left;}
/*CSS taken from NEW.CSS*/
.wd90 {width:90%;margin:0px auto;}
.mgauto {margin:0px auto;width:600px;clear:both;text-align:center;padding:20px 0px;}
table.notblbrd, table.notblbrd tr td {border:0px none!important;}
.mg10Left {margin-left:10px; *margin-left:0px!important;}
.dlForm .error {color:red; font-size:11px;}
.dlForm .error_list {padding: 5px 0 5px 0; margin: 0px 11px 0px 0px;color:red}
.clear {clear:both;}
.ps0 {_position:relative;_margin:0px 20%;}
#visa_application_terms_id_row{padding-left:9px;}
.input_box  {border:1px solid #d1d1d1;}
.listingBox {height:auto;margin:0;padding:0 0 0 5px;width:855px;}
.listingBox ul {list-style-type:none;margin:0;padding:0 0 0 0 !important;width:700px;float:left;}
.listingBox ul li {background:url("../images/information_icon.png") no-repeat scroll left 4px transparent;color:#555555;font:12px Arial,Helvetica,sans-serif;margin-left:20px;margin-top:0;padding-left:20px;padding-top:5px;text-align:left;width:700px;float:left;}
.listingBox ul li a{color:#008900;text-decoration:underline;font-weight:bold;}
.topCorner_new {background:url("../images/topCorner_new.png") no-repeat scroll left top transparent;height:18px;margin:0;padding:0;width:855px;}
.btmCorner_new {background:url("../images/bottomcorner_new.png") no-repeat scroll left bottom transparent;height:18px;margin:0;padding:0;width:855px;}
.highlight_new p {margin:5px 0;}
.highlight_new {margin:10px 11px 10px 0px;padding:5px 5px 5px 5px;position:relative;border:1px solid #d4cfcf;background-color:#e5e5e5;}
.inst_heading{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#555555; font-weight:bold; padding:0 0 5px 22px; float:left; clear:both;}
.inst_img{ background:url("../images/inst_img.png") no-repeat; width:128px; height:128px; float:right; margin:9px 0 0 0;}
.inst_container{ float:left; background:url("../images/middlecorner_new.png") repeat scroll left top transparent; width:855px;}
.msgBox {height:auto;margin:0;padding:0 0 0 61px;width:647px;}
.topCorner {background:url("../images/topCorner.png") no-repeat scroll left top transparent;height:18px;margin:0;padding:0;width:647px;}
.msgBox ul {background:url("../images/middlecorner.png") repeat scroll left top transparent;list-style-type:none;margin:0;padding:0 0 0 0 !important;}
.msgBox ul li {background:url("../images/arrowB.gif") no-repeat scroll left 8px transparent;color:#FF0000;font:11px Arial,Helvetica,sans-serif;margin-left:20px;margin-top:0;padding-left:20px;padding-top:5px;text-align:left;text-transform:uppercase;width:590px;}
.btmCorner {background:url("../images/bottomcorner.png") no-repeat scroll left bottom transparent;height:18px;margin:0;padding:0;width:647px;}
.dlForm {display:block;position:relative;z-index:0;}
.dlForm .multiForm {margin-left:auto;margin-right:auto;width:90%;}
.dlForm fieldset {border-color:#d1d1d1!important;}
.dlForm fieldset {border-width:0;display:block;}
.dlForm fieldset {border:1px solid #6ACA83;display:block;margin:15px auto;padding:0 0 15px;position:relative;}
.dlForm .multiForm fieldset {border-width:1px;}
.dlForm .multiForm {margin-left:auto;margin-right:auto;width:99%;}
.dlForm fieldset {border:1px solid #6ACA83;display:block;margin:15px auto;padding:0 0 15px;position:relative;border-color:#d1d1d1;}
.dlForm legend, .dlForm .legend {background-color:#FFFFFF;color:#999999;}
.dlForm dl {clear:both;display:block;float:none;margin:0;min-height:20px;padding:10px 0 0;position:relative;width:auto;z-index:0;}
.dlForm .multiForm fieldset dt {width:35%;}
.dlForm dt {clear:left;display:block;float:left;margin:0 10px 5px 0;width:18%;}
dt {font-weight:bold;line-height:25px;}
.dlForm dt label, .dlForm dt .label {display:block;font-weight:normal;line-height:18px;padding-left:5px;padding-right:5px;text-align:left;}
.dlForm label sup {color:#CC0000;}
.dlForm .multiForm fieldset dd {width:60%;}
.dlForm dd {display:block;float:left;line-height:18px;margin:0 5px 0 0;}
.dlForm ul {margin:0;padding:0 0 0 30px;line-height:20px;}
.dlForm ul.fcol {list-style:none;margin:0;padding:0;display:inline;}
.dlForm ul.fcol li {/*display:inline;*/list-style:none;margin:0 0 0 14px;padding:0;}
.dlForm UL.fcol LI input, .dlForm UL.fcol LI select  {border:1px solid #d1d1d1;}
.brfnone {border:0px none!important;}
.X50 {margin-left:71px;margin-right:71px;}
.Y20 {margin-bottom:20px;margin-top:20px;}
.pixbr {clear:both !important;float:none !important;}
h3 {font-size:16px;line-height:18px;}
.highlight p {margin:5px 0;}
.highlight {margin:10px 0 10px 0;padding:5px;position:relative;border:1px dotted;}
.l {float:left;margin-right:10px;}
.r {float:right;margin-left:10px;}
.dlForm .inputText, .dlForm input[type="text"] {background:none repeat scroll 0 0 #FCFCFC;border:1px groove #A3ABB8;font-size:inherit;height:20px;}
/*CSS taken from NEW.CSS*/
/*CSS taken from popup.CSS*/
#backgroundPopup{display:none;position:fixed;_position:absolute; /* hack for internet explorer 6*/height:100%;width:100%;top:0;left:0;background:#333333;border:1px solid #cecece;z-index:99;}
#popupContent{display:none;position:fixed;_position:absolute; /* hack for internet explorer 6*/width:408px;background:#FFFFFF;border:5px solid #004880;z-index:100;padding:1px;font-size:13px;}
#popupContentClose{font-size:14px;line-height:14px;right:6px;top:4px;position:absolute;color:#6fa5fd;font-weight:700;display:block;}
/*CSS taken from popup.CSS*/
/*CSS taken from CalendarControl.CSS*/
#CalendarControlIFrame {display: none;left: 0px;position: absolute;top: 0px;height: 250px;width: 250px;z-index: 99;}
#CalendarControl {position:absolute;background-color:#FFF;margin:0;padding:0;display:none;z-index: 100;}
#CalendarControl table {font-family: arial, verdana, helvetica, sans-serif;font-size: 8pt;border-left: 1px solid #209ed1;border-right: 1px solid #209ed1;}
#CalendarControl th {font-weight: normal;}
#CalendarControl th a {font-weight: normal;text-decoration: none;color: #555555;padding: 1px;}
#CalendarControl td {text-align: center;padding:1px;}
#CalendarControl .header {background-color: #209ed1;}
#CalendarControl .weekday {background-color: #DDD;color: #333333;}
#CalendarControl .weekend {background-color: #FFC;color: #333333;}
#CalendarControl .current {border: 1px solid #339;background-color: #209ed1;color: #FFF!important;}
#CalendarControl .weekday,
#CalendarControl .weekend,
#CalendarControl .current {display: block;text-decoration: none;border: 1px solid #FFF;width: 2em;}
#CalendarControl .weekday:hover,
#CalendarControl .weekend:hover,
#CalendarControl .current:hover {color: #FFF!important;background-color: #209ed1;border: 1px solid #999;}
#CalendarControl .previous {text-align: left;}
#CalendarControl .next {text-align: right;}
#CalendarControl .previous,
#CalendarControl .next {padding: 1px 3px 1px 3px;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
#CalendarControl .previous a,
#CalendarControl .next a {color: #FFF;text-decoration: none;font-weight: bold;font-family:Arial, Helvetica, sans-serif;font-size:12px;}
#CalendarControl .title {text-align: center;font-weight: bold;color: #FFF;}
#CalendarControl .empty {background-color: #d1d1d1;border: 1px solid #FFF;}
/*CSS taken from CalendarControl.CSS*/
table.jCalendar {border: 1px solid #333333;background: #aaa;border-collapse: separate;border-spacing: 2px;}
table.jCalendar th {background: #333;color: #fff;font-weight: bold;padding: 3px 5px;}
table.jCalendar td {background: #d1d1d1;color: #333333;padding: 3px 5px;text-align: center;}
table.jCalendar td.other-month {background: #ddd;color: #aaa;}
table.jCalendar td.today {background: #666;color: #fff;}
table.jCalendar td.selected {background: #f66;color: #fff;}
table.jCalendar td.selected.dp-hover {background: #f33;color: #fff;}
table.jCalendar td.dp-hover, table.jCalendar tr.activeWeekHover td {background: #fff;color: #333333;}
table.jCalendar tr.selectedWeek td {background: #f66;color: #fff;}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {background: #bbb;color: #888;}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {background: #bbb;color: #888;}
/*CSS taken from CalendarControl.CSS*/
/*CSS taken from datepicker.CSS*/
/* For the popup */
/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */
a.dp-choose-date {text-align:left;width: 16px;height: 16px;padding: 0;margin: 0px 3px 0;display: inline-block;text-indent: -2000px;overflow: hidden;background: url(../images/ico_cal.gif) no-repeat;vertical-align:middle;!vertical-align:top;}
a.dp-choose-date.dp-disabled {background-position: 0 -20px;cursor: default;}
div.dp-popup {position: relative;background: #d1d1d1;font-size: 10px;font-family: arial, sans-serif;padding: 2px;width: 171px;line-height: 1.2em;}
div#dp-popup {position: absolute;z-index: 199;}
div.dp-popup h2 {font-size: 12px;text-align: center;margin: 2px 0;padding: 0;}
a#dp-close {font-size: 11px;padding: 4px 0;text-align: center;display: block;}
a#dp-close:hover {text-decoration: underline;}
div.dp-popup a {color: #333333;text-decoration: none;padding: 3px 2px 0;}
div.dp-popup div.dp-nav-prev {position: absolute;top: 2px;left: 4px;width: 100px;}
div.dp-popup div.dp-nav-prev a {float: left;}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {cursor: pointer;}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {cursor: default;}
div.dp-popup div.dp-nav-next {position: absolute;top: 2px;right: 4px;width: 100px;}
div.dp-popup div.dp-nav-next a {float: right;}
div.dp-popup a.disabled {cursor: default;color: #aaa;}
div.dp-popup td {cursor: pointer;}
div.dp-popup td.disabled {cursor: default;}
/*CSS taken from datepicker.CSS*/
.order_details{ cursor:pointer;}
.fnt_size_large{ font-size:12px; font-weight:bold;}
.no_display{ display:none;}
.bodyContent {/*margin:0 auto;*/width:843px;}
.bodyContent2 {/*margin:0 auto;*/width:917px; margin:0 auto;}
.formContent {float:left;width:345px;margin:5px 0px;}
.formContent_new {float:left;width:450px;margin:5px 0px;}
.formBrd {border-right:1px solid #d0cece;}
.formBrd_left {border-left:1px solid #d0cece;}
.formH2 {border-bottom:1px solid #d0cece;float:left;width:695px;border-top:1px solid #d0cece;margin-top:10px;}
.formH3 {border-bottom:1px solid #d0cece;float:left;width:917px;border-top:1px solid #d0cece;margin-top:10px;}
.formH2 h2 {float:left;width:345px;font:bold 14px Arial, Helvetica, sans-serif;color:#113452;padding:3px 0;margin:0;}
.formH3 h2 {float:left;width:450px;font:bold 14px Arial, Helvetica, sans-serif;color:#113452;padding:3px 0;margin:0;}
.formH2_new {border-bottom:1px solid #d0cece;float:left;border-top:1px solid #d0cece;margin-top:10px;}
.formH2_new h2 {float:left;width:345px;font:bold 14px Arial, Helvetica, sans-serif;color:#113452;padding:3px 0;margin:0;}
.redLbl {color:#F00;}
.formContent .lblName {width:180px;font:normal 12px Arial, Helvetica, sans-serif;color:#555;float:left;margin:3px 0px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.formContent .lblName {width:167px;font:normal 12px Arial, Helvetica, sans-serif;color:#555;float:left;margin:3px 0px;}
}
.formContent .lblField, .formContent .lblField_radio {width:165px;font:normal 12px Arial, Helvetica, sans-serif;color:#555;float:left;margin:3px 0px;}
.formContent .lblField input, .formContent .lblField select, .formContent .lblField textarea {font:normal 12px Arial, Helvetica, sans-serif;color:#555;border:1px solid #d1d1d1!important;}
.formContent_new .lblName {width:180px;font:normal 12px Arial, Helvetica, sans-serif;color:#555;float:left;margin:3px 0px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.formContent_new .lblName {width:167px;font:normal 12px Arial, Helvetica, sans-serif;color:#555;float:left;margin:3px 0px;}
}
.formContent_new .lblField, .formContent .lblField_radio {width:165px;font:normal 12px Arial, Helvetica, sans-serif;color:#555;float:left;margin:3px 0px;}
.formContent_new .lblField input, .formContent .lblField select, .formContent .lblField textarea {font:normal 12px Arial, Helvetica, sans-serif;color:#555;border:1px solid #d1d1d1!important;}
.formContent_new .lblName_new {width:277px;font:normal 12px Arial, Helvetica, sans-serif;color:#555;float:left;margin:3px 0px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.formContent_new .lblName_new {width:167px;font:normal 12px Arial, Helvetica, sans-serif;color:#555;float:left;margin:3px 0px;}
}
.width200 {width:170px;}
.pdLeft10 {padding-left:4px!important;}
.pdLeft9 {padding-left:9px!important;}
.warningArea {width:895px;padding:10px 0px; clear:both;margin:10px auto;border:1px solid #F00;padding:10px;}
.warningArea h2 {background: url(../images/warnIcon.gif) no-repeat left top;padding-left:35px;font:bold 16px Arial, Helvetica, sans-serif;color:#F00;margin:0px;height:31px;padding-top:5px;}
.warningArea ul {padding:0px 0px;margin:0px;list-style-type:none;}
.warningArea ul li {padding:3px 0px;margin:0px;list-style-type:none;font:normal 11px Arial, Helvetica, sans-serif;color:#F00;}
.pixbr_new {clear:both !important;float:none !important;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#555555;}
.X50_new {/*margin-left:71px;*/margin-right:71px;}
.Y20_new {margin-bottom:20px; margin-top:20px;}
.l_new {float:left;margin-right:10px;}
.r_new {float:right;margin-left:10px;margin-right:5px;}
.inst_container1{width:917px;_width:917px;margin:0 auto;}
.inst_bg{float:left;width:917px;background-image:url(../images/div_box_bg.gif); background-repeat:repeat-x; height:206px; background-color:#e1e4e7; background-position:bottom;}
.inst_bg_step1{float:left;width:917px;background-image:url(../images/div_box_bg.gif); background-repeat:repeat-x; height:240px; background-color:#e1e4e7; background-position:bottom;}
.inst_container ul{padding:0 0 0 0!important;margin:0 0 0 0!important;}
.inst_container1 ul{padding:0 0 0 0!important;margin:0 0 0 0!important;}
.inst_container1 ul li{padding:5px 15px 0 25px!important;margin:0 0 0 0;list-style-type:none;font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#333333;text-transform:uppercase;background-image:url(../images/arrowB.gif);background-repeat:no-repeat;background-position:9px 11px;*background-position:9px 11px;}
.notice-text{font-size: 12px; color: #FF0000}
#mrpSeamansDivIdPart1 table {margin:10px;}
#mrpSeamansDivIdPart1 td table {margin:auto;}
#mrpSeamansDivIdPart1 td {line-height:22px;}
.small-text{font-family: Arial,Helvetica,sans-serif;font-size: 10.5px; color: #555555;}
.NwPopUp{width:600px; height:280px; background:#fff; margin:10px auto;z-index: 100}
.NwHeading{color:#004a83; border-bottom:solid 1px #004a83; font-size:19px; padding:10px 5px; font-weight:bold}
.NwMessage{padding:10px 5px; background:#e4f2fd; color:#000000;}
.NsPd5{padding:10px 5px}
#clockwrapper	{ margin:10px; text-align:center}
#countdown { font-size:19px; display:block}
.btnArea { width:600px }
.print_note em{ font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:center; margin:0 0 15px 0;}
.div_height{ display:none;}
.new_height{ display:none;}
.page_heading_new{ display:none!important;}
.clear_print{ display:none;}
.page_heading_visa{display:none;}
.radio_list li{background-image:none!important;}
.lblField textarea{width:160px!important; border:solid 1px #d1d1d1;}
#width_dropbox select{width:162px!important;} /* bug id :29612*/
.a_button{ float:left; display:block; padding:10px 5px 10px 0;}
#btn_visa{ text-align:center; margin:0 auto; width:200px;}
#width_dropbox #visa_application_ApplicantInfo_authority_id{*width:248px!important;}
.bodyContent_new {width:695px; margin:0 0 0 20px; *display:inline;}
.steps_container{/*width:843px;*/padding:10px 0 0 0;margin:0px auto;}
.step_process_active{font-family:Arial, Helvetica, sans-serif;font-size:24px;font-weight:bold;color:#668298;border-bottom:solid 7px #668298;width:152px;padding-bottom:2px;margin-right:45px;float:left;}
.step_process{font-family:Arial, Helvetica, sans-serif;font-size:24px;font-weight:bold;color:#d6dadd;border-bottom:solid 7px #d6dadd;width:152px;padding-bottom:2px;margin-right:30px;float:left;}
.clear{clear:both;}
.container_main{width:867px;margin:0 auto;}
/*.new_container{width:867px;float:left;}*/
.container_main{width:867px;margin:0 auto;}
.new_container{width:867px;float:left;}
.no_border_padding tr td, .no_border_padding{border:none!important;}
.no_border_new tr td{border:none!important; padding:0!important;}
.no_border_new{border:none!important; padding:0!important;}
.confirmation-msg{ padding:10px 0 0 0;}
.notify{ background-color:#d1d1d1; padding:5px;}
.error_msg{ color:#FF0000; font-size:11px;}
#visa_application_ReEntryApplicantInfo_re_entry_category {visibility:visible !important;}
.radio_list{padding:0px!important;}
.mg_left_zero{ margin:0 0px 0 0px;}
.card_reg_ol{ padding:0 0 0 20px;}
.card_reg_ol_40{ padding:0 0 0 40px;}
.ol_listing li{margin:0 0 0 25px;}
.overflow_auto{ overflow:auto;}
#form_new_heading{ font-family:"Tahoma",Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; border-top: solid 1px #d1d1d1!important; border-bottom: solid 1px #d1d1d1!important; padding-left:2px!important;}
#border_new_left{ border-left:solid 1px #d1d1d1!important;}
.print_input_box{ width:160px; border:solid 1px #d1d1d1; height:13px; font-size:11px;}
.printdate{ width:30px!important; border:solid 1px #d1d1d1; margin:1px 2px 0 0; font-size:11px;}
.printyear{ width:42px!important; border:solid 1px #d1d1d1; font-size:11px;}
.formHead{ background-color:#209ed1!important; width:99%; color:#ffffff!important; padding:5px;}
#visa_application_date_of_birth_button, #visa_application_ReEntryApplicantInfo_date_of_issue_button, #visa_application_ReEntryApplicantInfo_date_of_exp_button, #visa_application_ReEntryApplicantInfo_last_arrival_in_nigeria_button, #visa_application_ReEntryApplicantInfo_cerpac_date_of_issue_button, #visa_application_ReEntryApplicantInfo_cerpac_exp_date_button, #visa_application_military_dt_from_button, #visa_application_military_dt_to_button, #visa_application_ApplicantInfo_date_of_issue_button, #visa_application_ApplicantInfo_date_of_exp_button, #visa_application_ApplicantInfo_proposed_date_of_travel_button, #visa_application_PreviousHistory0_startdate_button, #visa_application_PreviousHistory0_endate_button, #visa_application_PreviousHistory1_startdate_button, #visa_application_PreviousHistory1_endate_button, #visa_application_PreviousHistory2_startdate_button, #visa_application_PreviousHistory2_endate_button, #visa_application_FiveYears0_date_of_departure_button, #visa_application_FiveYears2_date_of_departure_button, #visa_application_FiveYears1_date_of_departure_button, #visa_application_OneYears0_date_of_departure_button, #visa_application_OneYears1_date_of_departure_button, #visa_application_OneYears2_date_of_departure_button, #vap_application_date_of_birth_button, #vap_application_date_of_issue_button, #vap_application_date_of_exp_button, #vap_application_arrival_date_button{ border:none!important;}
.text_hide{ font-weight:bold; font-size:11px;}
.sub_bg{background-color:#e5ecf9;}
.floatRight{ float:right; padding:0 5px 0 0;} /*Bug Id:33770*/
/* New Menu CSS */
.ddsmoothmenu{ width: 100%;	height: 42px; font:bold 12px/17px Arial, Helvetica, sans-serif; }
.ddsmoothmenu ul{ z-index:100; margin: 0; padding: 0; list-style-type: none;}
/*Top level list items*/
.ddsmoothmenu ul li{ position: relative; display: inline; float: left; border-right:solid 1px #6cc4e8;}
/*Top level menu link items style*/
.ddsmoothmenu ul li a{ display: block; padding: 9px 11px; color: #ffffff; text-decoration: none; }
.ddsmoothmenu ul li a{ display: inline-block;}
.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited {}
.ddsmoothmenu ul li a.selected{ background: #128abb; color: #fff;}
.ddsmoothmenu ul li a:hover{ background: #00366b; color: #fff;}
/*1st sub level menu*/
.ddsmoothmenu ul li ul{ position: absolute; left: 0; display: none; visibility: hidden;}
/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{ display: list-item; float: none; border:none!important;}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{ top: 0; }
/* Sub level menu links style */
.ddsmoothmenu ul li ul li a					{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; width: 160px; padding: 5px; margin: 0; border-top:none; border-bottom: 1px solid #fff; background-color:#209ed1;}
.ddsmoothmenu ul li ul li a:hover					{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#FFFFFF; width: 160px; padding: 5px; margin: 0; border-top:none; border-bottom: 1px solid #fff; background-color:#1a4681!important; background-image:none;}
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/
/* ######### CSS classes applied to down and right arrow images  ######### */
.downarrowclass{ position: absolute; top: 16px; right: 7px; }
.rightarrowclass{ position: absolute; top: 6px; right: 5px; }
/* ######### CSS for shadow added to sub menus  ######### */
.ddshadow{ position: absolute; left: 0; top: 0; width: 0; height: 0; background: none; }
.top_menu_container{ float:left; width:100%; /*background:#0d417a;*/  }
.top_links{ padding:0; margin:0; float:left; }
.top_links ul{ padding:0; margin:0; list-style-type:none; }
.top_links ul li{ padding:0; margin:0; display:inline; }
.top_links ul li a{ color:#FFFFFF; text-decoration:none; font:bold 12px/17px Arial, Helvetica, sans-serif; padding:0 10px ; margin:0;}
.popContent .dlForm dt {clear: left; display: block; float: left; margin: 0 10px 5px 0; width: 23%;}
#applicant_vault_user_id_proof, #applicant_vault_address_proof{ border:none;}
#applicant_vault_user_id_proof, #applicant_vault_address_proof{ *border:solid;}
input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, input[type="file"]:disabled ::-webkit-file-upload-button, button:disabled, select:disabled, keygen:disabled, optgroup:disabled, option:disabled {
color:#b3b7b8!important;
}
.blbar_new {background: #209ed1 /*url(../images/blBg.gif) repeat-x left top*/;color:#fff;font-weight:bold; font-size:18px; padding:5px 0 5px 5px;}
.scroll_div{ width:928px; overflow-y:scroll;}
/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/
#tmz-slider-container 						{ /* background:url(../images/slider.png) no-repeat;*/width:998px; height:392px; margin:0 auto; padding-top:74px; margin-top:50px;}
#tmz-slider 								{ position:relative; width:675px; height:269px; background:url(../images/loading.gif) no-repeat 50% 50%;}
#tmz-slider img 							{ position:absolute; top:0px; left:0px; display:none;}
#slider a 									{ border:0; display:block;}
.tmz-nivo-control 							{ position:absolute; left:260px; bottom:-42px; display:none;}
.tmz-nivo-control a 						{ display:block; width:22px; height:22px; background:url(../images/bullets.png) no-repeat; text-indent:-9999px; border:0; margin-right:3px; float:left;}
.tmz-nivo-control a.active 					{ background-position:0 -22px;}
.tmz-nivo-direction a 						{ display:block; width:30px; height:30px; background:url(../images/arrows.png) no-repeat; text-indent:-9999px; border:0;}
a.tmz-slideshow-next 						{ background-position:-30px 0; right:15px;}
a.tmz-slideshow-prev 						{ left:15px;}
.tmz-slide-caption 							{ text-shadow:none; font-family:Arial, Helvetica, sans-serif;}
.tmz-slide-caption a 						{ color:#efe9d1; text-decoration:underline;}
.tmz-clear 									{ clear:both;}



/* The Nivo Slider styles */
.nivoSlider 								{ position:relative;}
.nivoSlider img 							{ position:absolute; top:0px; left:0px;}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink 				{ position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:60; display:none;}

/* The slices in the Slider */
.tmz-nivo-slice 							{ display:block; position:absolute; z-index:50;	height:100%;}

/* Caption styles */
.tmz-slide-caption 							{ position:absolute; left:0px; bottom:0px; background:#000; color:#fff; opacity:0.8; /* Overridden by captionOpacity setting */ width:100%; z-index:89;}
.tmz-slide-caption p 						{ padding:5px; margin:0;}
.tmz-slide-caption a 						{ display:inline !important;}
.nivo-html-caption 							{ display:none;}

/* Direction nav styles (e.g. Next & Prev) */
.tmz-nivo-direction a 						{ position:absolute; top:45%; z-index:99; cursor:pointer;}
.tmz-slideshow-prev 						{ left:0px;}
.tmz-slideshow-next 						{ right:0px;}

/* Control nav styles (e.g. 1,2,3...) */
.tmz-nivo-control a 						{ position:relative; z-index:99; cursor:pointer;}
.tmz-nivo-control a.active 					{ font-weight:bold;}
.formContent_new .lblField input[type=radio], .formContent .lblField input[type=radio], .formContent .lblField input[type=radio] {border:0px!important;}
.fieldset_border{ border:solid 1px #ccc; margin-top:5px; padding:10px; display:none;}
.fieldset_border legend{ font-weight:bold;}
.grey_bg{background-color:#E1E4E7!important;}
.border_dashed{display:none;}
.block.red {background-color:#FDF8C3;border-color:#F00;color:#F00;/*margin-left:43px;margin-right:45px;*/}
.block.red ul{margin-left:29px;}
.block p {margin:5px 0;}
.block {margin:10px 0 10px 0;padding:5px;position:relative;border:1px dotted;}
.info_box{width:917px;_width:917px;margin:0 auto;}
.info_box strong{color:#122256;}
.inst_bg{float:left;width:917px;background-color:#e1e4e7; background-position:bottom;}
.inst_bg_step_box{float:left;width:917px;height:240px; background-color:#d6e8fa; background-position:bottom; border:solid 1px #9ac4ef;}
.info_box ul{padding:0 0 0 0!important;margin:0 0 0 0!important;}
.info_box ul li{padding:5px 15px 0 25px!important;margin:0 0 0 0;list-style-type:none;font-family:Arial, Helvetica, sans-serif;font-size:11px;color:#333333;text-transform:uppercase;background-image:url(../images/list.png);background-repeat:no-repeat;background-position:9px 9px;}
.formContent_new .lblField_app, .formContent .lblField_radio {width:210px; *width:225px; font:normal 12px Arial, Helvetica, sans-serif;color:#000;float:left;margin:3px 0px;}
#vap_application_date_of_birth_button{*position:static;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#vap_application_document_1,#vap_application_document_2{ border:none!important;}
}
/* Home page login button start here */
.logos { margin:0px 0px 15px 6px; border:#ff0000 solid 0px; }
.logos a img {margin-left:3px; border:0px; clear:both;}
.separator-login{width:90%; margin:15px auto 0px 10px; border-top:#cacdd0 solid 1px; clear:both; padding:0 0 0 0; height:1%; font-size:1%; float:left;}
.logos_block{ width:104px; height:47px; float:left; display:block;}
.logos_none{width:104px; height:47px; float:left; display:none;}
/* Home page login button end here */
